body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
    padding-right: 10%;
}

h2 {
    font-size: 30px;
}

p {
    padding-right: 10%;
}

.color {
    color: rgb(90, 7, 255);
}

.flex {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width img {
    width: 50%;
}

.button {
    color: white;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 900;
}

.top-banner {
    background-image: url(New\ Project1.png);
}

.dream-big {
    background-image: url(123.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
}

.developer {
    width: 40%;
    padding: 3%;
    box-shadow: 10px 10px 40px skyblue;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 25px;
    border-radius: 20px;

}

.experiences {
    background-image: url(exp.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120px;

}

#full {
    border-left: 7px solid blue;
}

#baby {
    border-left: 7px solid skyblue;
}

footer p {
    text-align: center;
}